### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Git ###
/.git/
.gitignore
!/.gitignore

### SVN ###
.svn/

### Eclipse ###
/.classpath
/.project
/.settings

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### Mac ###
.DS_Store

### Gradle
gradle/
gradlew*
.gradle/

### Java ###
out/
build/

### Maven ###
mvnw*
.mvn/
target/